<h3>Characters</h3>
<ul>
  <% @characters.each do |character| %>
    <li>
      <%= "Name: #{character.character} - Actor: #{character.actor} - Show #{character.television_show.title}" %>
    </li>
  <% end %>
</ul>
456787654321`2367890=76
